#root {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1e252d;
}

.bg {
  position: fixed;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: url(assets/background.jpg);
  animation: fadeIn 2s ease-in-out 1s;
  animation-fill-mode: forwards;
  z-index: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

#hero-section {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}

#hero-section .hero-box {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 85%;
  animation: heroFadeIn 1s ease-out;
}

@keyframes heroFadeIn {
  0% {opacity: 0; transform: translateY(0px)}
  1% {opacity: 0; transform: translateY(70px)}
  40% {opacity: 0}
  100% {opacity: 1; transform: translateY(0px)}
}

#hero-section .hero-title {
  font-weight: 600;
  font-size: 5rem;
  margin: 0 0 2rem 0;
}

#hero-section .hero-text {
  margin: 0 0 2rem 0;
}

#hero-section .arrow-down-icon {
  color: white;
  font-size: 2rem;
  margin: 0 auto;
}

#nav {
  animation: navFadeIn 1s ease-out;
}

@keyframes navFadeIn {
  0% {transform: translateY(70px)}
  100% {transform: translateY(0px)}
}

#nav button {
  transition: scale 0.3s ease-in-out;
}

#nav .icon-button {
  min-width: 40px;
}

#nav button:hover {
  scale: 1.1;
}

#section-btns button{
  font-weight: 600;
  font-size: 15px;
}

h2 {
  color: white;
}

.content-box {
  width: 80%;
  margin: 0 auto;
  margin-top: -4rem;
  z-index: 2;
  position: relative;
}

#about .slick-list {
  display: flex;
  height: 350px;
  align-items: center;
}

#about .slick-initialized .slick-slide {
  padding: 0 30px;
}

#about .slick-track {
  display: flex;
}

#slider-box {
  max-width: 80%;
}

#content {
  background-color: lightgrey;
  margin-top: 0px;
}

#content .section-title {
  font-weight: 600;
  padding-bottom: 40px;
}

#content .card-img {
  object-fit: cover;
  height: 142px;
}

#about .about-text {
  width: 80%;
  margin: auto;
  text-align: justify;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#projects .project-btn {
  background-color: #896f8c;
}

#projects .project-btn:hover {
  background-color: #5d455f;
}

#projects .projects-grid {
  width: 90%;
  margin: 0 auto;
  grid-row-gap: 30px;
}

#projects .grid-item {
  padding-left: 0;
  padding-top: 0;
}

#projects .grid-card {
  width: 90%;
}

#skills .skills-box {
  text-align: justify;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  gap: 100px
}

#skills .skills-box-text {
  font-size: 1.25rem;
  line-height: 1.6;
}

#skills .card-back {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  width: auto;
}

.skills-back-img {
  transform: translateX(-30px);
}

.skills-icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

#skills .skills-icon-btn {
  transition: scale 0.3s ease-in-out;
}

#skills .skills-icon-btn:hover {
  background-color: transparent;
  scale: 1.1;
}

#projects .project-buttons {
  justify-content: center;
}

#skills .skills-front-img, #skills .skills-back-img {
  object-fit: cover;
}








@media only screen and (max-width: 1024px) {
  #slider-img-box {
    height: 300px;
  }

  #about .slick-list {
    height: 400px;
  }

  #skills .skills-box {
    flex-direction: column;
    gap: 50px;
  }

  #skills .skills-box-text {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  #slider-box {
    max-width: 60%;
  }
}

@media only screen and (max-width: 600px) {
.content-box {
  width: 100%;
}

  #section-btns button {
    max-width: 64px;
  }

  #nav .icon-btns-box {
    gap: 0px;
  }
}

@media only screen and (max-width: 425px) {
  #nav .icon-button {
    min-width: 25px;
    width: 35px;
  }

  #about .about-text, #skills .skills-box-text {
    font-size: 1rem;
  }

  #slider-img-box {
    height: 250px;
  }

  #about .slick-list {
    height: 300px;
  }

  #about .about-text, #skills .skills-box {
    width: 90%;
  }

  #skills .card {
    width: 70%;
    height: auto;
  }

  #skills .skills-front-img, #skills .skills-back-img {
    object-fit: contain;
  }

  .skills-back-img {
    transform: translateX(-5%);
  }

  #hero-section .hero-title {
    font-size: 4rem;
  }

  #slider-box {
    max-width: 70%;
  }
}

@media only screen and (max-width: 375px) {
  #section-btns button {
    min-width: 50px;
    width: 50px;
    font-size: 13px;
  }
}

